    <header>
      <h1> <a href='/coffees'> < </a>{{name}}</h1>
    </header>
    <nav id='coffeeNav' class='link'>
      <ul>
        <li><a href='/coffee/{{name}}'>Overview</a></li><li><a href='/coffee/{{name}}/Gallery'>Gallery</a></li><li><a href='/coffee/{{name}}/Reviews'>Reviews</a></li>
      </ul>
    </nav>
