    <header>
      <h1> <a href='/coffees'> < </a>{{name}}</h1>
    </header>
    <nav id='coffeeNav' class='link'>
      <ul>
        <a href='/coffee/{{name}}'><li>Overview</li></a><a href='/coffee/{{name}}/Gallery'><li>Gallery</li></a><a href='/coffee/{{name}}/Reviews'><li>Reviews</li></a>
      </ul>
    </nav>
