{{> coffee}}

    <div class='box'>
      <h2>Gallery</h2>
      <p>Gallery of {{name}}s that fellow coffee sippers have uploaded</p>
      <div id='gallery'>
      {{#each gallery}}
       <a href='{{this}}' class="swipebox" title="{{../name}}">
                <img src='{{this}}'>
        </a>
      {{/each}}
      </div>
    </div>