 <ul>
    {{#each item in model}}
      <li>{{item.name}}
       {{! Injecting the object here means it wont have to access the store again on click }}
      {{#link-to 'edit' item}}Edit{{/link-to}}
      <button {{action 'deleteCoffee' item}}>Delete</button>
      </li>
    {{/each}}
    </ul>

{{#link-to 'add'}}Add New Coffee{{/link-to}}